<include file='include/header'/>
<div id="addbook" class="addbook">
		
	<h3>添加书籍</h3>
	<br>
	<p>都不能为空</p>
	
		
	
	<form action="{:U('add')}"  method="post" enctype="multipart/form-data">
		<div class="book_left clearfix">
			<label  class="clearfix">
				<span>
					书名:
				</span> 
				<cite>
					<input type="text" name="book_name" required="required" />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					作者/编著:
				</span> 
				<cite>
					<input type="text" name="book_author" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					书类型:
				</span> 
				<cite>
					<select name="book_type" required="required">
						<volist name="menulist" id="menuitem"> 
							<option value="{$menuitem[id]}">{$menuitem.type_name}</option>
						</volist>
					</select>
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					书介绍:
				</span> 
				<cite>
					 <textarea name="book_detail"></textarea>
				</cite>
			</label>
		</div>
		<div class="book_right clearfix">
			<label  class="clearfix">
				<span>
					价格:
				</span> 
				<cite>
					<input type="number" max="999" min="1" name="book_prince" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					折扣后价格:
				</span> 
				<cite>
					<input type="number"  max="999"  min="1" name="book_zk_prince" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					ISBN:
				</span> 
				<cite>
					<input type="text" name="book_isbn" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					出版社:
				</span> 
				<cite>
					<input type="text" name="book_publish" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					出版时间:
				</span> 
				<cite>
					<input type="date" name="book_publish_time" required="required"  />
				</cite>
			</label>
		</div>
		<div class="filebox">
			<input type="file" name="file" required="required">
		</div>
		<button type="submit" class="btn btn-info btn-md">添加</button>
	</form>

</div>
 
<include file='include/footer'/> 