<include file='include/header'/>
<div id="addbook" class="addbook">
		
	<h3>添加书籍</h3>
	<br>
	<p>都不能为空</p> 
	<form action="{:U('add')}"  method="post" enctype="multipart/form-data">
		<div class="book_left clearfix">
			<label  class="clearfix">
				<span>
					书名:
				</span> 
				<cite>
					<input type="text" name="book_name" value="{$bookitem[book_name]}" required="required" />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					作者/编著:
				</span> 
				<cite>
					<input type="text" name="book_author" value="{$bookitem[book_author]}" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					书类型:
				</span> 
				<cite>
					<select name="book_type" required="required"  value="{$bookitem[book_type]}">
						<volist name="menulist" id="menuitem"> 
							<option value="{$menuitem[id]}">{$menuitem.type_name}</option>
						</volist>
					</select>
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					书介绍:
				</span> 
				<cite>
					 <php> 
					 	$detail=trim(htmlspecialchars_decode($bookitem['book_detail']))
					 </php>
					 <textarea rows="10" cols="30" name="book_detail">{$detail}</textarea>
				</cite>
			</label>
		</div>
		<div class="book_right clearfix">
			<label  class="clearfix">
				<span>
					价格:
				</span> 
				<cite>
					<input type="number" value="{$bookitem[book_prince]}" max="999" min="1" name="book_prince" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					折扣后价格:
				</span> 
				<cite>
					<input type="number" value="{$bookitem[book_zk_prince]}"  max="999"  min="1" name="book_zk_prince" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					ISBN:
				</span> 
				<cite>
					<input type="text" value="{$bookitem[book_isbn]}"  name="book_isbn" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					出版社:
				</span> 
				<cite>
					<input type="text"  value="{$bookitem[book_publish]}" name="book_publish" required="required"  />
				</cite>
			</label>
			<label  class="clearfix">
				<span>
					出版时间:
				</span> 
				<cite>
					<input type="date"   value="{$bookitem[book_publish_time]}" name="book_publish_time"  />
				</cite>
			</label>
		</div>
		<div class="filebox">
			<input type="file" name="file" >
		</div>
		<input type="hidden" name="id" value="{$bookitem[id]}">
		<button type="submit" class="btn btn-info btn-md">
			<if condition="I('get.bookid')">
				修改
				<else/>
				添加
			</if>
		</button>
	</form>

</div>
 
<include file='include/footer'/> 
<style type="text/css">
	cite input{
	width: 350px;
	padding-left: 5px;
	font-style: normal!important;
}
</style>