<include file='include/header'/>
<link rel="stylesheet" type="text/css" href="__HOME__/css/myorder.css" />
<div id="myorder"  class="myorder"> 
	<aside class="order-left">
		<h4>全部功能</h4>
		<ul>
			<li>
				<a href="">已经买到的宝贝</a>
			</li>
			<li>
				<a href="">我的收藏</a>
			</li>
			<li>
				<a href="">订单回收站</a>
			</li> 
		</ul>
	</aside>
	<section class="order-right">
		<div class="order-header clearfix">
			<p>
				<a href="" class="active">所有订单</a>
			</p>
			<p>
				<a href="">待付款</a>
			</p>
			<p>
				<a href="">可评价</a>
			</p>
			<form action="" method="get" > 
				<input type="search" placeholder="请输入订单号或商品名" name="keyword">
				<button type="submit">订单搜索</button> 
			</form>
		</div>
		<div class="order-list">
			<table class="order-col">
				<tr class="order-item-title">
					<th>书籍</th>
					<th>单价</th>
					<th>数量</th>
					<th>实付款</th>
					<th>交易状态</th> 
					<th>商品操作</th>
				</tr> 
				<!-- 遍历开始 -->
				 <tbody class="tbody">
					<tr class="order-time">
						<td colspan="6" class="time">
							<strong>2017-04-17</strong>  
							<span>订单号:3238389628873024</span>
						</td>  
					</tr> 
					<tr>
						<td>
							<a href="">
								<div class="order-img">
									<img src="__UPLOAD_PATH__/10.jpg">
								</div>
								<p class="detail">
									【广东联通官方旗舰店】 30元 话费充值 广东联通 30元面值自助充
								</p>
							</a>
						</td>
						<td>￥10.00</td>
						<td>1</td>
						<td>
							<strong>
							 ￥10.00
							</strong>
							<p>(虚拟物品)</p>
						</td>
						<td>已购买</td>  
						<td>
							<a href="">删除</a>
						</td>
					</tr> 
				 </tbody>
				<!-- 遍历开始 end-->
				<!-- 遍历开始 -->
				 <tbody>
					<tr class="order-time">
						<td colspan="6" class="time">
							<strong>2017-04-17</strong> 
							<span>订单号:3238389628873024</span>
						</td>  
					</tr> 
					<tr>
						<td>
							<a href="">
								<div class="order-img">
									<img src="__UPLOAD_PATH__/10.jpg">
								</div>
								<p class="detail">
									【广东联通官方旗舰店】 30元 话费充值 广东联通 30元面值自助充
								</p>
							</a>
						</td>
						<td>￥10.00</td>
						<td>1</td>
						<td>
							<strong>
								￥10.00
							</strong>
							<p>(虚拟物品)</p>
						</td>
						<td>已购买</td>  
						<td>
							<a href="">删除</a>
						</td>
					</tr> 
				  </tbody>
				<!-- 遍历开始 end-->
			</table>
			 
		</div>
	</section>
</div>	
  
<include file='include/footer'/>