<include file='include/header'/>
<link rel="stylesheet" type="text/css" href="__HOME__/css/myorder.css" />
<div id="myorder"  class="myorder"> 
	<aside class="order-left">
		<h4>全部功能</h4>
		<ul>
			<li>
				<a href="">已经买到的宝贝</a>
			</li>
			<li>
				<a href="">我的收藏</a>
			</li>
			<li>
				<a href="">订单回收站</a>
			</li> 
		</ul>
	</aside>
	<section class="order-right">
		<div class="order-header clearfix">
			<p>
				<a href="" class="active">所有订单</a>
			</p> 
			<!-- <form action="" method="get" > 
				<input type="search" placeholder="请输入订单号或商品名" name="keyword">
				<button type="submit">订单搜索</button> 
			</form> -->
		</div>
		<div class="order-list">
			<table class="order-col">
				<tr class="order-item-title">
					<th>书籍</th>
					<th>单价</th>
					<th>数量</th>
					<th>实付款</th>
					<th>交易状态</th> 
					<th>商品操作</th>
				</tr> 
				<!-- 遍历开始 -->
				 
				 <tbody class="tbody">
					<tr class="order-time">
						<td colspan="6" class="time">
							<strong>{$orderlist.buyed_time|date="Y-m-d",###}</strong>  
							<span>订单号:{$orderlist.order_no}</span>
						</td>  
					</tr> 
					<tr>
						<td>
							<a href="{:U('book/bookdetail',array('type'=>$orderlist[id]))}">
								<div class="order-img">
									<img src="__WORKING_PATH__{$orderlist['img_path']}">
								</div>
								<p class="detail">
									{$orderlist.book_name}
								</p>
							</a>
						</td>
						<td>{$orderlist.book_prince}</td>
						<td>1</td>
						<td>
							<strong>
							 {$orderlist.book_zk_prince}
							</strong>
							<p>(虚拟物品)</p>
						</td>
						<td>已购买</td>  
						<td>
							<a href="{U:('book/delete',array('id'=>$orderlist[id]))}">删除</a>
						</td>
					</tr> 
				 </tbody>
				<!-- 遍历开始 end-->
		 
				  
			</table>
			 
		</div>
	</section>
</div>	
  
<include file='include/footer'/>