.text-center {
    text-align: center;
}

.nav-box {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    font-family: arial, simsun;
    font: 12px 'Hiragino Sans GB', "simsun", "Arial";
}

.nav {
    font-size: 100%;
    color: #646464;
    line-height: 34px;
    background-color: #f9f9f9;
    width: 90%;
    height: 35px;
    margin: auto;
}

.nav .nav-left {
    float: left;
    display: inline-block;
}

.nav .nav-left a {
    color: #646464;
    display: block;
    display: inline-block;

}

/*.nav .nav-left:hover{*/
/*color: #646464;*/
/*background:white;*/
/*display: block;*/
/*display: inline-block;*/

/*}*/

.nav .nav-right {
    float: right;
}

.nav .nav-login {
    float: right;
}

.nav .nav-right .nav-list .nav-item {
    float: left;
    font-size: 100%;
    border-right: 1px solid #f9f9f9;
}

.nav .nav-right .nav-list .nav-item .nav-item-bo:hover {
    /*float: left;*/
    /*font-size: 100%;*/
    color: red;
    cursor: pointer;

}

.nav .nav-right .nav-list .nav-item .car-num {
    color: #ff2832;
    font: bold 12px "Arial";
}

.nav .nav-right .nav-list .nav-item .nav-login a {
    padding-left: 7px;
    padding-right: 8px;
    color: red;
    border-right: none;
}

.nav .nav-right .nav-list .nav-item .nav-item-bo {
    padding-left: 7px;
    padding-right: 8px;
    border-right: 1px solid #E6E6E6;
}

.header {
    width: 1360px;
}

.header-main {
    position: relative;
    margin: auto;
    width: 90%;
    height: 100px;
}

.h-left {
    width: 70px;
}

.h-left .logo-h {
    float: left;
}

.logo-h {
    margin-top: 8px;
    margin-left: -33px;

}

.search-box {
    position: relative;
    width: 90%;
    height: 100px;
    margin: auto;
}

.search .search-box .search-select {
    z-index: 20;
}

.search {
    position: relative;
    /*width: 1360px;*/
    height: 100px;
    margin: auto;
}

.search-box .logo {
    position: absolute;
    float: left;
}

.search-box .search-text {
    float: left;
    width: 398px;
    height: 18px;
    border: 2px solid #ff2832;
    border-right: none;
    padding: 9px 0 9px 10px;
    position: absolute;
    left: 320px;
    top: 20px;
    z-index: 2;
    color: #323232;
    font: 12px/18px 'Hiragino Sans GB', "simsun", Arial;
    outline: 0;
    background: none;
}

.search-box .search-text input {
    width: 398px;
    height: 18px;
}

.search-box .search-select .text {

    font: 16px/36px "Microsoft Yahei";
    width: 107px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 36px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #FF2832;
}

.search-box .search-select .text-icon {
    width: 13px;
    height: 7px;
    overflow: hidden;
    background: url(../imges/search.png);
    position: absolute;
    left: 100px;
    top: 16px;
}

.search-box .search-select {
    position: absolute;
    float: left;
    width: 108px;
    height: 20px;
    border: 2px solid #ff2832;
    border-left: none;
    padding: 9px 0 7px 0px;
    left: 730px;
    top: 20px;
    z-index: 2;
    color: #323232;
    font: 12px/18px 'Hiragino Sans GB', "simsun", Arial;
    outline: 0;
    background: #f9f9f9;
    text-align: center;
    cursor: pointer;
}

.search-box .search-icon {
    cursor: pointer;
    position: absolute;
    line-height: 40px;
    left: 940px;
    width: 220px;
    float: right;
}

.search-box .search-select-icon {
    position: absolute;
    float: left;
    width: 48px;
    height: 24px;
    border: none;
    padding: 9px 0 7px 10px;
    left: 100px;
    top: 20px;
    z-index: 2;
    color: #323232;
    font: 12px/18px 'Hiragino Sans GB', "simsun", Arial;
    outline: 0;
    background: #f9f9f9;
    text-align: center;
    cursor: pointer;

}

.search-box .search-icon .search-icon-left {
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 19px;
    height: 40px;
    width: 110px;
    float: left;
    background: #ff2832;
    border: 2px solid #ff2832;
}

.search-box .search-icon .search-icon-right a {
    color: #646464;
    text-decoration: none;
}

.search-box .search-icon .search-icon-left a {
    display: block;
    height: 40px;
    color: white;
    text-decoration: none;
}

.search-box .search-icon .search-icon-left:hover {
    color: #ff2832;
    background: #f9f9f9;
    border: 2px solid #dcdcdc;
    text-decoration: none;
}

.search-box .search-icon .search-icon-left a:hover {
    color: #ff2832;
    text-decoration: none;
}

.search-box .search-icon .search-icon-right {
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 19px;
    left: 110px;
    height: 40px;
    width: 110px;
    background: #f9f9f9;
    border: 2px solid #dcdcdc;
}

.h-main {
    margin: auto;
}

.sp {
    width: 100%;
    background: #FF2832;
    height: 3px;
}

.main {
    width: 1360px;
    background: #f9f9f9;
}

.main-nav {
    margin: auto;
    height: 30px;
}

.main-nav-list {
    list-style: none;
}

.main-nav-list li a:hover {
    color: #FF2832;
}

.main-nav-list li a {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #cccccc;
    text-decoration: none;
    color: #646464;
}

.main-nav-list li {
    float: left;
    padding: 8px 0px;

}

.home-1 {
    margin-top: 50px;
    width: 1360px;
    position: relative;
}

.home-1-box {
    margin: auto;
    position: relative;
    width: 90%;
    height: 300px;

}

.home-1 .home-1-body {
    top: -37px;
    position: relative;
    clear: both;

}

.home-1 .home-1-left {
    float: left;
    width: 200px;
    background-color: #fafafa;
    position: relative;
    z-index: 40;
    padding: 0px 0;
    height: 322px;
    display: block;
    border: 1px solid #487a6f;

}

.home-1 .home-1-center {
    margin: 0 4px;
    float: left;
    width: 796px;
    /*overflow: hidden;*/
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #eaecee;

}

.home-1 .home-1-right .home-r-p {
    height: 194px;
    width: 202px;
    border-top: 1px solid #e6e6e6;
}

.home-1 .home-1-right .home-r-p a {
    height: 194px;
    width: 202px;
    border-top: 1px solid #e6e6e6;
}

.home-1 .home-1-right .home-r-p a img {
    display: block;
    width: 202px;
    height: 195px;
}

.home-1 .home-1-right .gundong-2 .gundong-ul2 li {
    margin-left: -1px;
    float: left;
    width: 100px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    height: 28px;
    background-color: #f0f0f0;
    cursor: pointer;
    font: 14px/29px "Microsoft Yahei";
    text-align: center;
    color: #646464;
    overflow: hidden;
}

.home-1 .home-1-right .gundong .gundong-ul li {
    margin-left: -1px;
    float: left;
    width: 100px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    height: 28px;
    background-color: #f0f0f0;
    cursor: pointer;
    font: 14px/29px "Microsoft Yahei";
    text-align: center;
    color: #646464;
    overflow: hidden;
}
.home-1 .home-1-right .gundong .gundong-c{
    padding-left: 8px ;
}
.home-1 .home-1-right .gundong .gundong-c li a {
    text-align: center;
    padding-left: 8px;
    text-decoration: none;
    color: #646464;
    font-family: "Microsoft Yahei";
} 
.home-1 .home-1-right .gundong .gundong-c .c .yushoname{
    font-size: 12px;
    text-align: center; 
    
}
.home-1 .home-1-right .gundong .gundong-c .c .yushoname span{
    line-height: 16px;
}
.home-1 .home-1-right .gundong .gundong-c .c >span{
    margin: auto 30px 10px 10px;
    color: #d81e06;
    float: left;
}
.home-1 .home-1-right .gundong .gundong-c .c .writer{
   color: #646464;
   font-size: 14px; 

}

.home-1 .home-1-right .gundong .gundong-c li {
    color: #646464; 
    line-height: 25px;
    padding-left: 10px;
    width: 183px;
    height: 25px;
    background: url(../images/home_sprite_1507.png) no-repeat 10px -188px;
    overflow: hidden;
}

.home-1 .home-1-right .gundong .gundong-c {

    width: 202px;
    height: 295px;
    position: relative;
    /*border-bottom: 1px solid #e6e6e6;*/
    overflow: hidden;
}

.home-1 .home-1-right .gundong-2 {
    width: 202px;
    height: 120px;
    overflow: hidden;

}

.home-1 .home-1-right .gundong {

    width: 202px;
    overflow: hidden;

}

.home-1 .home-1-right {

    float: left;
    width: 202px;
    border: 1px solid #cccccc;
    /*border-bottom: 1px solid #e6e6e6;*/
    /*border-right: 1px solid #e6e6e6;*/

}

.home-1 .home-1-center .runpic {

    width: 796px;
    height: 324px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #e6e6e6;
}

#oUl li {
    cursor: pointer;
    position: absolute;
    display: block;
    float: left;

}

.home-1 .home-1-center .tehui .right-tehui-btn {
    position: absolute;
    width: 33px;
    left: 863px;
    height: 70px;
    overflow: hidden;
    background: url(../images/home_sprite_1507.png) no-repeat -35px -70px;
    background-color: #000;
    top: 50px;
    font-size: 0;
    line-height: 99px;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity=20);
    z-index: 11;
}

.home-1 .home-1-center .tehui .left-tehui-btn {
    position: absolute;
    width: 33px;
    left: -100px;
    height: 70px;
    overflow: hidden;
    background: url(../images/home_sprite_1507.png) no-repeat -0px -70px;
    background-color: #000;
    top: 50px;
    font-size: 0;
    line-height: 99px;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity=20);
    z-index: 11;
}

.home-1 .home-1-center .runpic .left-btn {
    position: absolute;
    width: 33px;
    left: -33px;
    height: 70px;
    overflow: hidden;
    background: url(../imgs/home_sprite_1507.png) no-repeat -0px -70px;
    background-color: #000;
    top: 122px;
    font-size: 0;
    line-height: 99px;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity=20);
    z-index: 11;
}

.home-1 .home-1-center .runpic .right-btn {
    position: absolute;
    width: 33px;
    height: 70px;
    right: -33px;
    overflow: hidden;
    background: url(../imgs/home_sprite_1507.png) no-repeat -35px -70px;
    background-color: #000;
    top: 122px;
    font-size: 0;
    line-height: 99px;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity=20);
    z-index: 11;
}

.home-1 .home-1-center .runpic .num {
    position: absolute;
    margin: auto;
    left: 86%;
    bottom: 0;

}

.home-1 .home-1-center .runpic .num ul {
    list-style: none;

}

.home-1 .home-1-center .runpic .num ul li {
    float: left;
    width: 20px;
    height: 20px;
    font: 12px/20px Arial;
    color: #fff;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #646464;
    margin-right: 6px;
    border-radius: 10px;
}

.home-1 .home-1-center .runpic .num .cur {
    background-color: #000;
}

.home-1 .home-1-left .home-1-left-ul {

    width: 197px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
    font-size: 100%;

}

.home-1 .home-1-left .home-1-left-ul li {
    text-align: left;
    float: left;
    width: 50%;
    border-bottom: 1px dashed #cccccc;
    padding: 0;
}

.home-1 .home-1-left .home-1-left-ul a {
    text-align: left;
    z-index: 11;
    color: #323232;
    font: 12px/32px "Microsoft Yahei";
    text-decoration: none;
    padding: 0 18px;

}

.home-1 .home-1-left .home-1-left-ul a:hover {
    color: #d81e06;
}

.home-1 .home-1-left .home-1-left-box {
    z-index: 10;
    top: -2px;
    left: 197px;
    position: absolute;
    border: 2px solid red;
    height: 100%;
    width: 1015px;
    background: white;
    display: none;
}

.home-1 .home-1-left .home-1-left-box:hover {
    display: block;
}

.ul-head {
    height: 35px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    background: #487a6f;
    line-height: 34px;
    color: #fff;
    font-family: "Microsoft Yahei";
}

.hot {
    width: 1360px;
    margin-bottom: 50px;
}

.hot-h {
    margin: auto;
    width: 90%;
    height: 40px;
}

.hot-title {
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 200px;
    float: left;
    background: #ff2832;
    border-radius: 50px;

    font-size: 18px;
    color: #fff;
    font-family: "Microsoft Yahei";
}

.hot-title-line {
    position: relative;
    top: 50px;
    left: 200px;
    display: block;
    width: 82.9%;
    height: 2px;
    background: #ff2832;

}

.new {
    width: 1360px;
}

.new-h {
    margin: auto;
    width: 90%;
    height: 40px;
}

.new-title {

    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 200px;
    float: left;
    background: #ff2832;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    font-family: "Microsoft Yahei";
}

.new-title-line {
    position: relative;
    top: 25px;
    left: 200px;
    display: block;
    width: 82.9%;
    height: 2px;
    background: #ff2832;

}

.c {
    margin: auto;
    margin-top: 10px;
    float: left;
    height: 130px;
}

.c a img {
    float: left;
    width: 112px;
    height: 116px;
}

.yushouname {
    text-justify: distribute;
    line-height: 20px;
}

#gundong-c a:hover {
    color: #d81e06;
}

.body-right {
    z-index: 50;
    background: #fff;
    opacity: 0;
    right:-180px;
    border-right: 1px solid #cccccc;
    box-shadow: 0px 2px 30px 1px #888888;
    float: left;
    position: fixed;
    margin-left: 85%;
    top: 50px;
    font-size: 14px;
}

.body-right ul li {
    border-bottom: 1px solid #cccccc;
}

.body-right ul li a {
    font-weight: bold;
    display: block;
    text-align: center;
    color: #000;
    padding: 10px 25px;
    text-decoration: none;

}

.footer {
    margin: 50px 0;
    width: 1360px;

}

.footer .f-line {
    height: 2px;
    background: #d81e06;
}

.footer .f-main {
    height: 80px;
    background: #F9F9F9;
}

.footer .icon-ul {
    width: 90%;
    margin: auto;
}

.footer .icon-ul li {
    text-align: center;
    line-height: 50px;
}

.icon {
    float: left;
    padding: 10px 50px;
    text-align: left;
    height: 60px;
    width: 200px;
}

.f-text {
    font-weight: bolder;
    font-size: 18px;
    top: -67px;
    left: 134px;
    position: relative;
    display: block;
    height: 50px;
    text-align: left;
    line-height: 50px;
}
.descript{

    margin-top: 50px;
    width: 100%;
}
.f-under ul{

    margin:  auto;
}
.f-under li{
    display: inline-block;
}
.f-under ul li a{
    text-align: center;
    color: #8c8c8c;
    text-decoration: none;
    padding: 0px 30px;
    border-right: 1px solid #cccccc;
}
.f-under{
    text-align: center;
    margin: auto;
}
.f-under p{
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

/*login.css*/
.load{
    opacity: 0;
    display: none;
    box-shadow: 0px 5px 80px 10px #888888;
    border-radius: 2px;
    z-index: 100;
    width: 300px;
    height: 300px;
    left: 530px;
    top: 0px;
    position: fixed;
    background: #ffffff;

}
.load .tips{
    height: 30px;
    line-height: 30px;
    color: #d81e06;
}
.load .inp_box{
    margin: auto;
    width: 100%;
}
.load .inp {
    float: right;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 25%;
    /*left: 10%;*/
    text-align: center;
}
.load .input{
    width: 70%;
    height: 30px;
}
.load .inp_pwd{
    top: 35%;
}

.load .btn {
    width: 90%;
    height: 30px;
    position: absolute;
    top: 70%;
    left: 5%;
    background: #d81e06;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
.login-title{

    color: #ffffff;
    /*display: inline-block;*/
    background: #d81e06;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*position: absolute;*/
    cursor: move;
    border-radius: 2px 2px 0 0;

}
.load h2 a{
    text-decoration: none;
    color: #ffffff;
}
.load h2{
    top:0;
    right:0;
    position: absolute;
    float:right;
    padding: 8px 10px;
    text-align: right;
    font-size: 18px;

}
.load .reg_{
    margin-top: 40px;
    background: #0D72CC;
}
/*reg.css*/
.reg{
    opacity: 0;
    display: none;
    box-shadow: 0px 5px 80px 10px #888888;
    border-radius: 2px;
    z-index: 100;
    width: 300px;
    height: 300px;
    left: 530px;
    top: 0px;
    position: fixed;
    background: #ffffff;

}
.reg .tips{
    height: 30px;
    line-height: 30px;
    color: #d81e06;
}
.reg .inp_box{
    width: 100%;
}
.reg .inp {
    float: right;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 25%;
    /*left: 10%;*/
    text-align: center;
}
.reg .input{
    width: 70%;
    height: 30px;
}
.reg .inp_pwd{
    top: 35%;
}

.reg .btn {
    width: 90%;
    height: 30px;
    position: absolute;
    top: 70%;
    left: 5%;
    background: #d81e06;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
.reg-title{

    color: #ffffff;
    /*display: inline-block;*/
    background: #d81e06;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*position: absolute;*/
    cursor: move;
    border-radius: 2px 2px 0 0;

}
.reg h2 a{
    text-decoration: none;
    color: #ffffff;
}
.reg h2{
    top:0;
    right:0;
    position: absolute;
    float:right;
    padding: 8px 10px;
    text-align: right;
    font-size: 18px;

}
.reg .btn{
    margin-top: 40px; 
}
.zhedangceng{
    display: none;
    top:0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ccc;
    z-index:50;
    opacity: 0.5;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
._label{
    font-weight: 700;
    float:left;
    display: inline-block;
    height: 30px;
    line-height:30px;
    margin-left: 15px;
}
.inp-icon{
    position: absolute;

}
.pwd{
    top: 143px;
    left: 26px;
}
.user{
    top: 72px;
    left: 24px;
}
.user  img{
       height: 42px;
    width: 41px;
}
.pwd  img{
    height: 32px;
    width: 37px;
}
.input{
    outline: medium;
    border: 2px solid #d81e06;
    padding-left: 50px;

}
.input:focus{
    border: 2px solid #d81e06;
}