<link rel="stylesheet" type="text/css" href="__ADMIN__/css/reset.css">

<link rel="stylesheet" type="text/css" href="__ADMIN__/css/login.css">
<section id="loginbox" class="loginbox">
	<form action="{:U('user/dologin')}" method="post">
		<h3>欢迎登陆</h3>
		<label class="clearfix" for="user_name">
			<span>用户名:</span>
			<cite>
				<input type="text" id="user_name" name="user_name" autofocus="autofocus">
			</cite>
		</label>
		<label class="clearfix" for="user_pwd">
			<span>密码:</span>
			<cite>
				<input type="text" id="user_pwd" name="user_pwd">
			</cite>
		</label>
		<div class="btn_submit clearfix">
			<button type="submit">登陆</button>
		</div>
	</form>
</section>


 